@font-face {
    font-family: 'paopao';
    src: url('@/assets/font/geetypeqingkongpaopaoti.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kaixin';
    src: url('@/assets/font/jinrifenkaixinyisongda.ttf');
    font-weight: normal;
    font-style: normal;
}